GENERAL SETTINGS START*/
body{
	background: #fff;
	margin: 0 auto;
	font: 12px/1 arial, helvetica, sans-serif;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; 							
}
img{
	max-width: 100%;
	border: none;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}
a{
	color: #000;
	text-decoration: none;
}
a:hover,
a:focus,
a:active,
a:visited{
	text-decoration: none;
	outline: none;
}
ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
input, button, textarea{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
/*GENERAL SETTINGS END*/
.video-wrap{
	background: url(../img/main_bg.jpg) no-repeat center;
	background-size: cover;
	height: 822px;
	padding: 100px 0;
	position: relative;
}
.youtube-video{
	width: 750px;
	height: 430px;
	border: 15px solid #fff;
}
iframe{
	width: 100%;
	height: 100%;
}
.video-wrap h6{
	font-size: 18px;
	color: #5b6777;
	display: block;
	margin: 45px 0;
	text-align: center;
}
.btn{
	padding: 27px 33px 23.5px;
	font-size: 18px;
	color: #fff;
	border: none;
	border-bottom: 5px solid transparent;
	border-radius: 10px;
}
.btn span{
	font-weight: bold;
}
.btn.btn-default{
	background: #ff4c46;
	border-bottom-color: #d9433c;
}
.btn.btn-default:hover{
	color: #fff;
	background: #d9433c;
	border-bottom-color: #ff4c46;
}
.video-wrap .form-control, .service-form .form-control, .modal-form .form-control{
	background: #5b6777;
	border-radius: 10px;
	box-shadow: none;
	border: none;
	font-size: 18px;
	color: #f1f4f9;
	width: 341px;
	height: 75px;
	padding: 0 60px 0 30px;
}
.video-wrap form, .service-form form{
	position: relative;
	display: inline-block;
}
.form-icon{
	position: absolute;
	width: 30px;
	height: 30px;
	background: url(../img/svg/btn_submit.svg) no-repeat;
	top: 50%;
	margin-top: -15px;
	right: 25px;
}
.form-control::-webkit-input-placeholder {color:#f1f4f9;}
.form-control::-moz-placeholder          {color:#f1f4f9;}
.form-control:-moz-placeholder           {color:#f1f4f9;}
.form-control:-ms-input-placeholder      {color:#f1f4f9;}

.form-control:focus::-webkit-input-placeholder {color: transparent}
.form-control:focus::-moz-placeholder          {color: transparent}
.form-control:focus:-moz-placeholder           {color: transparent}
.form-control:focus:-ms-input-placeholder      {color: transparent}

.arrow{
	position: absolute;
	width: 0;
	height: 0;
	border: 35px solid transparent;
	border-bottom-color: #fff;
	border-top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -35px;
}
.arrow:before{
	content: "";
	display: inline-block;
	position: absolute;
	width: 25px;
	height: 25px;
	background: url(../img/svg/btn_arrow-down.svg) no-repeat;
	top: 10px;
	left: -12px;
	animation: animate-icon .9s linear infinite alternate;
}

@keyframes animate-icon{
	from{
		top: 10px;
	}
	to{
		top: 18px;
	}
}

.about-us{
	background: url(../img/footer-bg.jpg) no-repeat bottom;
	background-size: 100%;
}
.title{
	padding: 95px 0;
}
.title h4{
	font-size: 36px;
	color: #5b6777;
}
.title h4 span{
	font-weight: bold;
}
.service:before{
	content: "";
	display: inline-block;
	width: 160px;
	height: 160px;
	background: url(../img/svg/btn_check.svg) no-repeat;
}
.service h5{
	font-size: 20px;
	color: #5b6777;
	margin-bottom: 15px;
}
.service p{
	font-size: 16px;
	color: #9ba5af;
}
.service-form{
	margin: 130px 0;
}
footer{
	position: relative;
}
.footer-inner{
	position: absolute;
	top: -50px;
    height: 50px;
    width: 100%;
    background: #274253;
    opacity: 0.6;
}
.footer-inner .row{
	padding-top: 19px;
}
.copy span, .copy span a, .info span{
	font-size: 16px;
	color: #fff;
}
.copy span a{
	border-bottom: 2px solid #fff;
}
.copy span a:hover{
	border: none;
}
.info span + span{
	margin-left: 23px;
}
/*MODAL STYLE START*/
.modal-dialog{
	width: 100%;
}
.modal-content{
	padding: 100px 0;
}
.modal-content .container{
	position: relative;
}
.modal-header, .modal-footer{
	border: none;
}
.modal-header button.close{
	width: 50px;
	height: 50px;
	background: url(../img/svg/btn_close.svg) no-repeat;
	position: absolute;
	right: 0px;
	top: -70px;
	opacity: 1;
}
.modal-header button.close:hover{
	opacity: .6;
}
.modal-header h4{
	font-weight: bold;
}
.modal-header h4, .modal-header h5{
	font-size: 36px;
	color: #5b6777;
	line-height: 46px;
}
.modal-header span{
	font-size: 20px;
	color: #5b6777;
}
.modal-header span > span{
	font-weight: bold;
}
.modal-form .form-control{
	padding: 0 20px 0 60px;
	width: 100%;
}
.modal-form{
	margin: 50px 0;
	position: relative;
	overflow: hidden;
}
.modal-form .form-group label{
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
    margin-top: -15px;
    left: 35px;
}
.modal-form .form-group label.u-m{
	background: url(../img/svg/btn_user.svg) no-repeat;
}
.modal-form .form-group label.e-m{
	background: url(../img/svg/btn_email.svg) no-repeat;
}
.modal-form .form-group label.p-m{
	background: url(../img/svg/btn_phone.svg) no-repeat;
}
.info-modal span{
	display: inline-block;
	font-size: 30px;
	color: #5b6777;
}
.info-modal span>span{
	color: #4bac7b;
}
.points-modal{
	padding: 50px 0;
	text-align: center;
}
.points-modal ul li{
	display: inline-block;
	font-size: 20px;
	color: #5fc491;
	position: relative;
	margin-bottom: 10px;
}
.points-modal ul li+li{
	margin-left: 150px;
}
.points-modal ul li:before{
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../img/svg/btn_check-02.svg);
	position: absolute;
	top: 0;
	left: -40px;
}
.modal-footer{
	text-align: center;
}
.modal-footer .btn.btn-default{
	background: #5fc491;
	border-color: #4bac7b;
}
.modal-footer .btn.btn-default:hover{
	background: #4bac7b;
	border-color: #5fc491;
}
/*MODAL STYLE END*/

/*MEDIA START*/
@media(max-width: 767px){
	.video-wrap, .service-form{
		text-align: center;
	}
	.video-wrap{
		height: 900px;
	}
	.youtube-video{
		width: 100%;
		height: 380px;
	}
	.btn-wrap.text-right, .video-wrap form, .copy, .info{
		text-align: center;
		margin-bottom: 10px;
	}
	.title{
		padding: 50px 0;
	}
	.service{
		width: 325px;
		margin: 0 auto;
	}
	.service-form {
	    margin: 95px 0 180px;
	}
	.about-us{
		background-size: 200%;
	}
	.footer-inner{
		top: -100px;
	    height: 100px;
	}
	.footer-inner .row{
		padding-top: 30px;
	}
	.modal-dialog{
		margin: 0;
	}
	.points-modal{
		text-align: left;
	}
	.points-modal ul{
		width: 300px;
		margin: 0 auto;
	}
	.points-modal ul li+li{
		margin-left: 0;
	}
}
@media(max-width: 424px){
	.youtube-video{
		height: 185px;
	}
	.video-wrap{
		height: 582px;
		padding: 50px 0;
	}
	.video-wrap h6{
		margin: 25px 0;
	}
	.video-wrap .form-control, .service, .service-form .form-control{
		width: 100%;
	}
	.btn{
		padding: 25px 20px;
	}
	.btn, .video-wrap .form-control{
		font-size: 16px;
	}
	.title h4{
		font-size: 25px;
	}
	.form-icon{
		right: 15px;
	}
	.copy span{
		font-size: 15px;
	}
	.about-us{
		background-size: 500%;
	}
	.points-modal ul{
		width: 250px;
		margin: 0 auto;
		padding-left: 30px;
	}
	.modal-header h4, .modal-header h5, .info-modal span{
		font-size: 25px;
	}
}
/*MEDIA END